body{
  background-image: url(Esporte.jpg);  
}
.modal a:active{
    background-color: #000;
}
#salvar{
    border:1px solid black;
    background-color: red;
    height: 3.5rem;
    
}
#cancelar{
    border:1px solid black;
    background-color: #000;
    height: 3.5rem;
    cursor: pointer;
}
#cancelar a:hover{
    background-color: aliceblue;
}
#salvar a:hover{
    background-color: rgb(83, 0, 0);
}
#butao{
   background-color: green; 
   color: #f6f6f6;
   border-radius: 2%;
}
.site{
    font-size: 1.5rem;
}